/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/spec/examples.txt
/tmp/

*.gem
*.rbc
.config
.byebug_history
.rspec_status
Gemfile.lock

*.o
*.so
*.bundle
*.dll
*.dSYM/
Makefile
mkmf.log